{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:import/typescript"
  ],
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
    "jest": true
  },
  "globals": {},
  "rules": {
    "indent": [2, "tab", { "SwitchCase": 1 }],
    "semi": ["error", "never"],
    "import/named": "off",
    "no-console": 1,
    "react/prop-types": [2, { "ignore": ["children"] }],
    "no-multiple-empty-lines": [1, { "max": 1 }],
    "keyword-spacing": ["error", { "before": true, "after": true }],
    "react/display-name": "off",
    "react/jsx-closing-bracket-location": ["error", "tag-aligned"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
