node_modules
public/dist/bundle.js
old_client/*
old_client
.DS_Store
.idea
npm-debug.log
.sass-cache
*/*.log
dist/*
public/dist/*
public/dist/*.js
public/dist/*.eot
public/dist/*.ttf
public/dist/*.svg
public/dist/*.gif
public/dist/*.png
public/dist/*.sass
public/dist/*.map
public/dist/styles.css
public/temp/*.mid
public/temp/*.mp3
public/temp/*.mp4
public/temp/*.m4a
public/temp/*.jpg
public/temp/*.png
public/temp/thumbnails/*.png
public/temp/thumbnails/*.jpg
server/newrelic_agent.log
server/temp/*.csv
server/temp/*.png
server/temp/*.svg
test/test.js
newrelic_agent.log
package-lock.json
sessions

